h1, h2, h3, h4, h5, h6, p {
    margin-left: 10px;
    background-color: #d0d0d5;
    text-transform: capitalize;
}

p{
    font-size: 20px;
}
body{background-color: #9e9ea6;
    margin-top:40px;
    border:2px solid ivory;

}

img{width: 100%;
height: auto;
}
div.flex{
    margin:10px 80px 5px 80px;
    display: flex;
     justify-content: space-between;
}
button{


    background-color: #0a0a23;
    color: #d0d0d5;

}
button:hover{
    background-color: #9a6e3a;
    color: #0a0a23;
    padding:10px;

}
button>a{
    color:whitesmoke;
    text-decoration: none;
}

details{
    margin-left:100px;

}
summary{
    font-size: 40px;
    text-align: center;
}
details>a{
    color:white;
    margin:150px;
    background-color: #2a2a40;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    padding:5px 40px 5px 40px;

}