body{
background-color: #9e9ea6;
border:3px solid ivory;
}
h1,h2,h3,h4,h5,h6,img,p,ol,ul,a{
    margin: 10px 50px 10px 40px;
}
h1,h2,h3,h4,h5,h6,p,pre{
text-transform: capitalize ;
}
img{
    width:90%;
}
a{text-decoration: none;
color: black;
font-weight: bold;
padding:10px;
background-color:#3b3b4f;
    text-align: center;
}
a:hover{
    text-decoration: none;
    color: ivory;
    background-color: black;
    text-align: center;
    font-weight: bold;

}
footer{
    display: flex;
        justify-content: space-evenly;
    align-items: center;
    background-color: #4f4f4f;
}
footer>div{
    display: flex;
    background-color: #2a2a40;

}
